


header {
  outline: solid 3px darkorchid;
  width: 960px;
  margin: 0 auto;
  height: 75px;
}

#logo {
  float: left;
  margin-right: 5px;
}

#title {
  float: left;
}

#icons {
  float: right;

}

#icons li {
  float: left;
}

main {
  outline: solid 3px darkorchid;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}



#titleDiv {
  outline: dashed 1px red;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}

.onTheRight {
  float: right;
}

/* #printer {
  float: left;
} */

.onTheRight > p {
  float: right;
  margin-left: 5px;
}

#pizza {
  width: 960px;

}

#paragraphs {
  outline: dashed 1px aqua;

}

#paragraphs p {
  padding-top: 15px;
  padding-bottom: 15px;
}

#recipe {
  outline: dashed 1px red;
  background-image: url("../img/list-bg.png");
  height: 300px;
}

.itemList {
  outline: solid 2px orange;
  width: 35%;
  float: left;
  padding-top: 40px;
}
#recipe>.itemList:first-child {
  margin-right: 40px;
}

.itemList li {
  list-style: none;
}

#personPic {
  float: left;
}

#author {
  float: left;
  /* vertical-align: ; */
}

button {
  width: 150px;
  height: 40px;
  float: right;
  background-color: rgb(192, 109, 37);
  color: white;
  border: 0px;
}

footer {
  outline: solid 3px darkorchid;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

#bottomDiv {
  padding-bottom: 100px;
}

hr {
  height: 10px;
  background-color: lightgrey;
  width: 960px;
}